<!DOCTYPE html>
<html>
    <head>
        <meta charset="uth-8">
        <title>勤怠管理</title>
        <link rel="stylesheet" herf="home.scss">
    </head>
    <body>
        <div class="header">
            <div class="header-logo">社用勤怠管理</div>
            <div class="header-list">
                <ul>
                    <li>新規登録</li>
                </ul>
            </div>
        </div>
        
        <div class="main">
            
        </div>
        <!--
        <div class="footer">
            <div class="footer-logo">システムプラザ</div>
        </div>
        -->
    </body>
</html>